.social {
   display: flex;
   align-items: center;
   justify-content: center;
   &__item {
      margin: 0 7.5px;
   }

   &__link {
      img {
         width: 25px;
         height: 25px;
      }
   }
}
