.form {
   &__group {
      margin-bottom: 20px;
   }

   &__controll {
      display: block;
      width: 100%;
      background: none;
      overflow: hidden;
      resize: none;
      overflow: hidden;
      color: $white;
      @include adaptive-value(font-size, 14, 16,  1);
      border-bottom: 1px solid #3f3f3f;
      height: 24px;
      transform: border-bottom 0.2s linear;
      padding-bottom: 7px;
      &:focus {
         border-bottom-color: $blue;
      }
   }
}
