$primary: #181818;
$supPrimary: #202020;
$white: #fff;
$black: #0D0D0D;
$blue: #3137c9;
$red: #cd251a;
$z-index-header: 1000;
$heightHeader: 40px;
$z-index-aside: 990;
$z-index-aside-mask: 885;
$widthSidebar: 300px;
$md-1: 1080;
$md-2: 767;
$md-3: 525;
